<template>
    <div class="row pt-5 pb-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3>Produtos</h3>
                </div>

                <div class="card-body" v-if="products.length || processing">
                    <div class="row">
                        <div
                            v-for="(product, index) in products"
                            :key="index"
                            class="col-sm-3"
                            style="margin-bottom: 10px, border:1px solid black"
                        >
                            <a    
                                @click.prevent="addProductInCart(product.id)"
                                style="margin-top: 15px; cursor: pointer"
                            >
                                <span  class="img-fluid">
                                 {{ product.name}}
                                </span>
                            </a>
                            <div class="text-center">
                                <span class="badge badge-danger text-white text-center">
                                    Preco: {{ product.price }}
                                </span>
                            </div>
                        </div>

                        <preloader :processing="processing"> </preloader>
                    </div>
                </div>

             <!-- 
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Nao tem produtos disponiveis!</h4>
                        <p>Aind nao tem produtos, mas pode aparecer a qualquer momento!</p>
                    </div>
           -->

            </div><!-- end card-->
        </div>
    </div>
</template>

<script>
    import CartMixin from '../mixins/cart';
    import ProductsMixin from '../mixins/products';
    import Preloader from "./Preloader";
    export default {
        components: {Preloader},
        name: "products-component",
        mixins: [CartMixin, ProductsMixin],
        data () {
            return {
                products: [],
                processing: false,
                url: '/products'
            }
        },
        methods: {
            prepareData (productsData) {
                let products = productsData.data;
                products.forEach(product => {
                    this.products.push({
                        id: product.id,
                        name: product.name,
                        price: product.price,
                      
                    });
                });
            }
        },
        mounted () {
            window.Echo.channel('product-added').listen('ProductAdded', (e) => {
                let product = e.product;
                this.processing = true;
                setTimeout(() => {
                    this.products.push({
                        id: product.id,
                        name: product.name,
                        price: product.price,
                     
                    });
                    this.processing = false;
                }, 1500);
            });

            window.Echo.channel('product-deleted').listen('ProductDeleted', (e) => {
                let productId = e.id;
                console.log("product deleted...");
                this.processing = true;
                setTimeout(() => {
                    const productIndex = this.products.findIndex(p => p.id === productId);
                    if(productIndex > -1) {
                        this.products.splice(productIndex, 1);
                    }
                    this.processing = false;
                }, 1500);
            });
        }
    }
</script>